ol li{
    list-style:none;
    }
 
 body{
     background-color: lightblue;
 }   
 
 div .main_div{
     text-align: center;
     
 }
#b1{
    background-color:blue;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 6px 6px;
    border-radius: 50%;
}

 #b1:hover{
     background-color: green;
 }
 input{
     border: none;
     padding: 0;
     background: none;
     
 }